body{
    padding: 100px;
}
.welcome{
    color: silver;
    text-align: center;
    text-shadow: darkgrey;
}
.name{
    text-align: center;
    margin-bottom: 30px;
    color: red;
    font-size: 130px;
}
.submit-area{
    padding: 60px;
    box-shadow: 10px 10px 30px 10px darkcyan;
    border-radius: 20px;
    background-origin: padding-box;
    
}


#tr{
    color: blueviolet;
    padding-bottom: 20px;
}

#transaction{
    margin-bottom: 40px;
    display: none;
    text-overflow: red;
    border-radius: 10px;
}
.status{
    padding: 10px 25px 25px 20px;
    border-radius: 10px;
    color: white;
}


.withdraw{
    background-color: deepskyblue;
}
.deposit{
    background-color: rgb(75, 178, 34);
}

.balance{
    background-color: rgb(225, 0, 255);
}

